KAFKA_CONNECT_URL
KAFKA_CLIENT_ID
KAFKA_BROKERS
SCHEMA_REGISTRY_URL
APICURIO_REGISTRY_URL

AWS_KAFKA_CONNECT_URL
AWS_KAFKA_BROKERS
AWS_SCHEMA_REGISTRY_URL
AWS_APICURIO_REGISTRY_URL

DEPLOYMENT
PORT
LOG_LEVEL